*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}


.container {
    max-width: 1180px;
    margin-left: auto;
    margin-right: auto;
}

header {
    /* height: 150px; */
    background-color: orange;
    padding: 1.5rem;
    position: fixed;
    left: 0;
    top: 0;
    right: 0;
    z-index: 2;

}

footer {
    position: static;
    padding: 2rem;
    background-color: black;
    color: white;
}

.img-header {
    width: 30%;
    margin-left: 3ticket00px;
   
}

header a {
    margin-right: 5px;

}

main {
    padding: 10rem 8rem;
}


/* Utili */

.flex {
    display: flex;
}

.flex-column {
    display: flex;
    flex-direction: column;
    
}




.flex-wrap {
    flex-wrap: wrap;
}

.space-between {
    justify-content: space-between;
}

.space-around {
    justify-content: space-around;
}


.items-center {
    align-items: center;
}

.gap {
    gap: 20px;
}




.relative {
    position: relative;
}


.absolute {
    position: absolute;
}

.first-img:hover { 
    opacity: 0;
}

.heart {
    z-index: 1;
    right: 0;
    top: 8px;
    padding: 1rem;
    font-size: larger;
    background-color: white;
}

.heart:hover {
    color: red;
}

.ticket {
    left: 0;
    bottom: 35px;
}

.ticket-red {
    background-color: red;
    margin-right: 15px;
    color: white;
    padding: 5px;
}

.ticket-green {
    background-color: green;
    color: white;
    padding: 5px;
    
}

.card-container {
    width: 32%;
    height: 100%;
}

.card {
    height: 800px;
    
}

main img {
    object-fit: cover;
    height: 100%;
    width: 100%;
}

footer ul {
    
    list-style: none;
}

footer li {
    margin-right: 30px;
}



